.pagination-component {
    display: inline-block;
    border-radius: 0.3em;
    border: 1px solid #999;
    background-color: #EEE;

    &__inner {
        display: flex;
        align-items: center;

        &__arrows {
            font-size: 1.5em;
            border-radius: 0.2em;
            padding: 0.2em 0.3em;
            margin: 0;

            &:hover {
                cursor: pointer;
                background-color: #F5F5F5;
            }
        }

        &__label {
            padding: 0.2em 0.5em 0.2em 0;
            margin: 0 0 0 0.5em;
        }
    }
}
